html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(164, 164, 164);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* Portfolio*/ 
.navbar {
  display: flex;
  justify-content: end;
}

.navbar li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  justify-items: space-around;
  padding: 8px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}

.navbar .name {
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 15px;
  font-size: 120%;
  display: flex;
  padding-right: 1100px;
  color: rgb(30, 75, 255);
}

.portfolio-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px ;
  display: block ;
  font-weight: bold;
  font-size: 300%;
  margin-left: 70px;
}

.photo-etudiant {
  float: right;
  margin-right: 200px;
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.bouton-contact {
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 130px;
  background-color: blue;
  color: white;
}

 /*Page à propos */ 
.about-section-1 {
  display: flex;
}

.about-text-1 {
  text-align: left;
  width: 50%;
  margin-top: 10px;
  text-align: end;
  font-size: 200%;
  font-weight: bolder;
  display: block;
}

.about-img-1 {
  margin-left: 200px;
  float: right;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
/*Page contact */
.contact-text p {
  text-align: center;
}

.slide-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.slide-button-contact p{
  align-items: center;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform 1s ease;
  font-weight: bolder;
  font-size: larger;
}
.slide-button-contact:hover p{
  transform: scaleY(1);
}

.contact-button {
  cursor: pointer;
  height: 30px;
  width: 200px;
  border: none;
  background-color: rgb(224, 224, 224);
}